<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Tissues 4 your Issues</title>
</head>
<body>
  <form action="/issue" method="POST">
   <input type="text" placeholder="ID" name="id"><br>
   <input type="text" placeholder="Title" name="title"><br>
   <input type="text" placeholder="Status" name="status"><br>
   <input type="text" placeholder="Assignee" name="assignee"><br>
   <input type="text" placeholder="Created" name="created"><br>
   <input type="text" placeholder="Updated" name="updated"><br>
   <input type="text" placeholder="details" name="details"><br>
   <button type="submit">Submit</button>
  </form>
</body>
</html>
